/*
  round by default tabs button
 */
.flexlayout__tab_button, .flexlayout__border_button {
  border-radius: 4px;
  padding: 2px 10px 2px 10px;
}

.flexlayout__tabset_tabbar_inner_tab_container {
  padding: 0px;
}
